---
layout: layouts/base.njk
---
<form netlify name="contact-form" >
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Firstname</label>
  <textarea name="Firstname"class="form-control" id="Firstname" rows="1"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Surname</label>
  <textarea name="Surname" class="form-control" id="Surname" rows="1"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Email address</label>
  <textarea name="email"class="email" id="email" rows="1"placeholder="name@example.com"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea name="message" class="form-control" id="message" rows="5"></textarea>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    I agree to terms and conditions
  </label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
